<?xml version="1.0" encoding="UTF-8"?>
<services>
	<service name="Omnisession">
		<processes>
			<process name="omnisessiond">
				<dir>/opt/manifests/consumer</dir>
				<script>bundle exec script/omnisessiond</script>
			</process>
		</processes>
	</service>
	<service name="Collab">
		<processes>
			<process name="appctl">
				<dir>/opt/apps/collab</dir>
				<script>bundle exec script/appctl</script>
			</process>
			<process name="campout">
				<dir>/opt/apps/collab</dir>
				<script>bundle exec script/campout</script>
			</process>
			<process name="collabd">
				<dir>/opt/apps/collab</dir>
				<script>bundle exec script/collabd</script>
			</process>
			<process name="jobjobd">
				<dir>/opt/apps/collab</dir>
				<script>bundle exec script/jobjobd</script>
			</process>
		</processes>
	</service>
</services>